[mysqld]
server_id=60
bind_address=*
log_bin=mysql8-main-test-bin
binlog_format=MIXED
slow_query_log=1
sort_buffer_size=256k
sql_mode=STRICT_TRANS_TABLES
max_binlog_size=1G
skip_name_resolve
gtid_mode=ON
enforce_gtid_consistency
default_password_lifetime=0
max_connections=300
default_time_zone='+7:00'
skip_ssl
default-authentication-plugin=mysql_native_password
#replicate_do_db=
