[mysqld]
server_id=54
bind_address=*
log_bin=nameproject-bin
binlog_format=MIXED
relay_log=nameproject-relay
log_slave_updates
slow_query_log=1
slow_query_log_file=nameproject-slow.log
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=2
innodb_log_file_size=48M
innodb_buffer_pool_size=128M
lower_case_table_names=1
sort_buffer_size=256k
sql_mode=STRICT_TRANS_TABLES
#replicate_do_db=
query_cache_size=5M
query_cache_type=1
max_binlog_size=1G
skip_name_resolve
gtid_mode=ON
enforce_gtid_consistency
default_password_lifetime=0
max_connections=300
default_time_zone='+7:00'
character_set_server=utf8
